$headers-color:rgba(233, 172, 143, 1);
$height: 16px;

:root {
   font-size: 16px;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   grid-template-rows: repeat(8, 1fr);
   grid-column-gap: 0px;
   grid-row-gap: 0px;
   overflow: hidden;
   height: 100vh;
   width: 100vw;
   background-image: url(/images/bgphoto.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   font-family: 'Open Sans', sans-serif;
}






.menu {
   grid-area: 1 / 1 / 9 / 2;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.81);
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;

   &_hamburger {
      width: 50px;
      height: 50px;
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;


      &--bar {
         position: relative;
         display: block;
         width: 100%;
         height: 5px;
         background-color: #fff;

         &::before {
            position: absolute;
            content: '';
            width: 100%;
            height: 5px;
            background-color: #fff;
            left: 0;
            top: 20px
         }

         &::after {
            position: absolute;
            content: '';
            width: 100%;
            height: 5px;
            background-color: #fff;
            left: 0;
            top: -20px
         }
      }


   }

   &_text {
      display: block;
      font-size: 1.2rem;
      margin-top: 2px;
      color: white;
      font-weight: 300;
   }
}

.menu_active .menu_hamburger--bar {
   background-color: transparent;
}

.menu_active .menu_hamburger--bar::before {
   transform: translateY(-20px) rotate(-45deg)
}

.menu_active .menu_hamburger--bar::after {
   transform: translateY(20px) rotate(45deg)
}

//

.user {
   grid-area: 1 / 2 / 6 / 5;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.8);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;


   &_photo {
      width: 20vh;
      height: 20vh;
      border-radius: 50%;
      box-shadow: 0 0 1px black;
      background-image: url(/images/facephoto.png);
      background-size: contain;
      background-repeat: no-repeat;
      margin-top: 5px
   }

   &_name {
      display: block;
      width: 60%;
      height: 10%;
      font-size: 1.4rem;
      color: $headers-color;
      margin: 5px 0px 5px 0px;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   &_description {

      width: 60%;
      height: 20%;
      font-weight: 300;
      font-size: 1.2rem;
      color: white;
      text-align: center;
      text-indent: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   &_ads {
      width: 50%;
      height: 20%;
      display: flex;
      justify-content: space-around;
      align-items: center;
   }
}

.icon {
   display: block;
   color: rgb(114, 114, 114);
   font-size: 2.4rem;

}

//
.statistics {
   grid-area: 1 /5 /6/ 13;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.74);
   position: relative;

   &_cardio {
      width: 5%;
      height: 5%;
      font-size: 1rem;
      grid-area: 1/11/2/12;
      color: $headers-color;
      margin: 5px 10px 0 0;
      cursor: pointer;
      position: absolute;
      top: 5%;
      right: 10%;
      display: flex;
      z-index: 10;
      justify-content: space-evenly;
      align-items: center;

      &>i {
         margin-left: 3px;
      }

   }

   &_weekly {
      width: 5%;
      height: 5%;
      font-size: 1rem;
      color: $headers-color;
      margin: 5px 0 0 0;
      cursor: pointer;
      position: absolute;
      top: 5%;
      right: 5%;
      display: flex;
      z-index: 10;
      justify-content: space-evenly;
      align-items: center;

      &>i {
         margin-left: 3px;
      }
   }

   &_score {
      display: flex;
      flex-wrap: wrap;
      width: 20%;
      height: 10%;
      font-size: 3rem;
      justify-content: center;
      align-items: center;
      align-self: center;
      justify-self: center;
      color: $headers-color;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      &--content {
         font-size: 1.2rem;
         width: 30%;

         &_date {
            color: white;
         }
      }
   }

   &_graphs {
      display: flex;
      position: relative;
      flex-direction: row;
      height: 100%;
      width: 100%;


      &--img1 {
         width: 100%;
         height: 65%;
         position: absolute;
         bottom: 0%;
         left: 0%;

      }

      &--img2 {
         width: 100%;
         height: 40%;
         position: absolute;
         bottom: 0%;
         left: 0%;

      }
   }
}

.statistics_cardio>i,

.statistics_weekly>i {
   color: white;
   font-size: .5rem;
   transform: rotate(90deg);
}

//

.parameters {
   grid-area: 6 /2 / 9 / 13;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.78);
   display: flex;
   justify-content: space-evenly;
   align-items: center;

   &_main {
      display: flex;
      height: 100%;
      width: 50%;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;



      &--part {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         height: 10vh;
         flex-basis: 40%;
         margin: 5px 5px;


         &_points {
            display: block;
            font-size: 1.2rem;
            color: white;
         }

         &_section {
            display: block;
            font-size: 1rem;
            color: $headers-color;
         }
      }
   }

   &_specific {
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &--photo {
         display: block;
         margin-bottom: 5px;
         height: 40%;
         width: 30%;
      }

      &--description {
         color: white;
         font-size: 1.2rem;
         letter-spacing: .2px;
      }
   }
}

@media (max-width:840px) {
   .menu {

      &_hamburger {
         width: 30px;
         height: 30px;


         &--bar {

            height: 3px;


            &::before {

               height: 3px;
               background-color: #fff;
               left: 0;
               top: 10.5px
            }

            &::after {
               position: absolute;
               content: '';
               width: 100%;
               height: 3px;
               background-color: #fff;
               left: 0;
               top: -10.5px
            }
         }


      }

      &_text {
         font-size: .8rem;
      }

   }

   .menu_active .menu_hamburger--bar::before {
      transform: translateY(-10.5px) rotate(-45deg)
   }

   .menu_active .menu_hamburger--bar::after {
      transform: translateY(10.5px) rotate(45deg)
   }

   .user {

      &_photo {}

      &_name {
         font-size: .7rem;
      }

      &_description {
         font-size: .4rem;

      }

      &_ads {
         &>.icon {
            font-size: 1rem;
         }
      }
   }

   .statistics {

      &_cardio {
         width: 10%;
         height: 5%;
         font-size: .6rem;
         margin: 5px 10px 0 0;
         top: 5%;
         right: 13%;

         &>i {
            margin-left: 3px;
            font-size: .3rem;
         }

      }

      &_weekly {
         width: 10%;
         height: 5%;
         font-size: .6rem;
         top: 5%;
         right: 3%;

         &>i {
            margin-left: 3px;
            font-size: .3rem;
         }
      }

      &_score {
         font-size: 1.5rem;
         top: 40%;

         &--content {
            width: 50%;
            font-size: .6rem;


         }
      }

   }

   .parameters {
      &_main {

         &--part {

            &_points {
               font-size: .8rem;

            }

            &_section {
               font-size: .5rem;
            }
         }
      }

      &_specific {

         &--photo {
            display: block;
            margin-bottom: 5px;
            height: 40%;
            width: 40%;
         }

         &--description {
            color: white;
            font-size: .7rem;
            letter-spacing: .2px;
         }
      }
   }

}